[Desktop Entry]
Name=XUiDesigner
Comment=X11 GUI Designer
TryExec=xuidesigner
Exec=xuidesigner %F
Icon=XUiDesigner
Terminal=false
Type=Application
Categories=Development;GUIDesigner;
